/*
    Style for RealVideoChat
    overides mini-dark.css
*/

:root {
    --universal-border-radius: 0.75rem;
}

/* Better modal: */
.card {
    position: fixed;
    overflow: visible !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 25px solid var(--card-back-color);
    border-radius: 25px;
}
#dialog-title {
    border: 0;
    width: 85%;
}
input {
    width: 100%;
}

/* Jquery-form */
.invalid {
    border-color: var(--input-invalid-color);
}

.small {
    font-size: 0.7em;
}

/* Util: */
.center {
    text-align: center;
}
